<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyt.tx.testapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="Android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MediaPlayerTestActivity" />
        <activity android:name=".RunnableTestActivity" />
        <activity android:name=".videoRecord.MediaRecordActivity" />
        <activity android:name=".videoRecord.MediaRecord2Activity" />
        <activity android:name=".schoolRecord.SchoolCameraActivity" />
        <activity android:name=".schoolRecord.SchoolRecordActivity" />
        <activity android:name=".SDKCamera.CameraActivity" />
        <activity android:name=".view.ViewActivity" />
        <activity android:name=".PropertyAnimation.PropertyActivity" />
        <activity android:name=".PropertyAnimation.PropertyMixActivity" />
        <activity android:name=".PropertyAnimation.BasePropertyActivity" />
        <activity android:name=".file.FileTestActivity" />
        <activity android:name=".uploadBigFile.UploadBigFileActivity" />
        <activity android:name=".uploadBigFile.ChooseFileActivity" />
        <activity android:name=".uploadBigFile.ChooseFolderActivity" />
        <activity android:name=".SDKCamera.ForeAndBackVideoRecordActivity" />
        <activity android:name=".rxjava.BaseRxJavaActivity" />
        <activity android:name=".floatDraggleButton.floatDraggetButton1.FloatVActivity" />
        <activity android:name=".floatDraggleButton.BaseFloatDraggleActivity" />
        <activity android:name=".print.BasePrintActivity" />
        <activity android:name=".webview.BaseWebViewActivity" />
        <activity android:name=".webview.WebViewActivity"/>
        <activity
            android:name=".print.PrintPictureActivity"
            android:exported="true" />
        <activity android:name=".print.PrintCustomActivity" />
        <activity
            android:name=".TempWebViewActivity"
            android:exported="true" />
        <activity android:name=".okhttp.BaseOkHttpActivity" />
        <activity android:name=".okhttp.BreakPointDownloadActivity"></activity>
    </application>

</manifest>